/* font change to all text */
* {
    font-family:Arial, Helvetica, sans-serif
}

/* Header section */
h1 {
    background-image:url(./images/image1.png);
    background-size: cover;
    text-align: center;
    font-size: 100px;
    color: khaki
}

/* font change to all h2 text */
h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

/* font change to all h3 text */
h3 {
    font-weight: bold;
}

/* font change to span text */
span {
    color: blue;
    font-weight: bold;
}

/* color background for h2 text */
.brush {
    background-color: mediumspringgreen;
}

.frame {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}
